%section{:id => 'home'}
  .slideshow
    .slides
      - unless @album.nil?
        - @album.images.each do |image|
          %img{:src => image.image.url(:large), :alt => image.id}
    .tag
      %img{:src => '/assets/build_the_world.png', :alt => 'build_the_world'}
    .nav
      %a{:href => '#prev', :class => 'prev'} <
      %a{:href => '#next', :class => 'next'} >
  %h2.slogan We have a passion for creating new and unique spaces
  .container
    .sidebar
      %img{:src => '/assets/man_on_phone.png', :alt => 'man_on_phone'}
      %h3 Welcome
      %h4
        Praesent vestibulum molestie lacus. Aenean nonummy
      %p
        Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
        et magnis dis parturient montes nascetur ridiculus mus.
      %p
        Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
        et magnis dis parturient montes, nascetur ridiculus mus.
    .content
      .top
        .left
          %h2 Who We Are
          %h3 Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris.
          %p
            Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
            et magnis dis parturient montes, nascetur ridiculus mus.
        .middle
          %h2 Capabilities
          %ul
            %li Praesent vestibulum molestie lacus
            %li Aenean nonummy  hendrerit mauris
            %li parturient montes, nascetur ridiculus mus
            %li Phasellus porta
        .right
          %h3.date
            %span.day 25
            %span.month Nov
          %h3 Praesent vestibulum molestie lacus
          %p Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta.
      .bottom
        .left
          %h2 Lorem
          %img{:src => '/assets/missing/210_158.png', :alt => ''}
          %p
            Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
            et magnis dis parturient montes, nascetur ridiculus mus.
        .middle
          %h2 Phasellus
          %img{:src => '/assets/missing/210_158.png', :alt => ''}
          %p
            Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
            et magnis dis parturient montes, nascetur ridiculus mus.
        .right
          %h2 Aenean
          %img{:src => '/assets/missing/210_158.png', :alt => ''}
          %p
            Praesent vestibulum molestie lacus. Aenean nonummy  hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
            et magnis dis parturient montes, nascetur ridiculus mus.