section#links {
  @include clearfix;
  margin-top: 80px;
  margin-bottom: 100px;
  
  h2 {
    margin-bottom: 20px;
  }
  
  div.links {
    div.row {
      @include clearfix;
      margin-bottom: 20px;
    
      div.link {
        float: left;
        width: 220px;
        height: 90px;
      
        a {
          display: block;
          width: 218px;
          height: 88px;
          line-height: 88px;
          text-decoration: none;
          text-align: center;
          font-size: 22px;
          font-family: 'BenchNine', sans-serif;
          text-transform: uppercase;
          border: 1px $gray solid;
          color: $light-blue;
        }
      
        a:hover {
          color: $blue;
          background-color: $light-blue;
        }
      }
    
      div.link:nth-child(2) {
        margin: 0px 35px;
      }
      
      div.link:nth-child(3) {
        margin-right: 35px;
      }
    }
  }
}