section#links {
  @include clearfix;
  margin-top: 80px;
  margin-bottom: 100px;
  
  h2 {
    margin-bottom: 20px;
  }
  
  div.left {
    float: left;
    width: 300px;
    
    nav {
      a {
        display: block;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: $gray;
        font-size: 18px;
        font-family: 'BenchNine', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
      }
      
      a:hover {
        background-color: $light-blue;
        color: $white;
      }
    }
  }
  
  div.right {
    float: left;
    width: 665px;
    margin-left: 20px;
    
    div.row {
      @include clearfix;
      margin-bottom: 20px;
      
      div.link {
        float: left;
        width: 205px;
        
        a {
          display: block;
          text-decoration: none;
          color: $light-blue;
          
          img {
            display: block;
            width: 203px;
            height: 93px;
            padding: 0px;
            border: 1px $gray solid;
            background-color: $white;
            margin-bottom: 10px;
          }
        }
        
        a:hover {
          color: $blue;
        }
        
        h3 {
          margin-bottom: 5px;
        }
      }
      
      div.link:nth-child(2) {
        margin: 0px 25px;
      }
    }
  }
}