%section{:id => 'links'}
  %h2 Vendors, Lenders, Realtors
  .links
    - unless @client_nav.nil?
      - @client_links = @client_nav.links
      - (0..@client_links.count).each do |i|
        - if i % 4 == 0
          .row
            - (i...(i + 4)).each do |j|
              - link = @client_links.asc(:index)[j] unless @client_links.asc(:index)[j].nil?
              - if link
                .link
                  %a{:href => link.url}= link.name
    