section#portfolio {
  @include clearfix;
  margin-top: 80px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  div.portfolio {
    @include clearfix;
    margin-bottom: 20px;

    div.row {
      @include clearfix;
      margin-bottom: 20px;

      div.column {
        float: left;
        width: 295px;
        padding: 10px;
        background-color: $gray;

        img {
          display: block;
          width: 295px;
          height: 295px;
          padding: 0px;
          margin-bottom: 10px;
        }

        h3 {
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: $light-blue;
          }

          a:hover {
            color: $blue;
          }
        }

        p {
          margin-bottom: 0px;
        }
      }

      div.column:nth-child(2) {
        margin: 0px 20px;
      }
    }
  }

  div.portfolio:last-child {
    margin-bottom: 0px;
  }
}

section#portfolio_show {
  @include clearfix;
  margin-top: 80px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 965px;
    height: 490px;
    padding: 10px;
  }
}
