%section{:id => 'portfolio'}
  %h2 Passion For Home Building
  .portfolio
    - (0..@albums.count).each do |i|
      - if i % 3 == 0
        .row
          - (i...(i + 3)).each do |j|
            - album = @albums.asc(:index)[j] unless @albums[j].nil?
            - if album
              .column
                %a{:href => show_portfolio_path(album)}
                  %img{:src => album.image.url, :alt => album.name}
                %h3
                  %a{:href => show_portfolio_path(album)}= album.name
                %p= album.description
  %h2 Homes For Sale
  %p Interested in buying a home? Check out these links below and take the Virtual Tour!
  .portfolio
    - unless @homes_for_sale_nav.nil?
      - (0..@homes_for_sale_nav.links.count).each do |i|
        - if i % 3 == 0
          .row
            - (i...(i + 3)).each do |j|
              - home = @homes_for_sale_nav.links.asc(:index)[j] unless @homes_for_sale_nav.links[j].nil?
              - if home
                .column
                  %a{:href => home.url}
                    %img{:src => home.image.url, :alt => home.name}
                  %h3
                    %a{:href => home.url}= home.name
                  %p= home.description