%section{:id => 'portfolio'}
  %h2= @album.name
  %p= @album.description
  .slideshow
    .slides
      - @album.images.each do |image|
        %img{:src => image.image.url, :alt => image.id}
    .nav
      %a{:href => '#prev', :class => 'prev'} <
      %a{:href => '#next', :class => 'next'} >