%section{:id => 'portfolio_show'}
  %h2= @album.name
  %p= @album.description
  .slideshow
    .slides
      - @album.images.asc(:index).each do |image|
        %img{:src => image.image.url, :width => '985px', :height => '510px', :alt => image.id}
    .nav
      %a{:href => '#prev', :class => 'prev'} <
      %a{:href => '#next', :class => 'next'} >