%section{:id => 'about'}
  .left
    - unless @left_blurb.nil?
      %h2= @left_blurb.title
      %p
        %span.bold= @left_blurb.subtitle
      = simple_format(@left_blurb.content)
  .right
    = image_tag 'family.png'